[Unit]
Description=setlog-remix: receive videos from the iPhone and render them in a format

[Socket]
ListenStream=127.0.0.1:__PORT__

[Install]
WantedBy=sockets.target
